/* FONTS */

@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/nexa_light-webfont.woff");
}
@font-face {
  font-family: 'Meta Normal';
  src: url('../fonts/MetaNormal-Roman.woff');
}
@font-face {
  font-family: 'Meta Bold';
  src: url('../fonts/MetaBold-Roman.woff');
}


/* STYLES */
*{
  color: #FFF;
  text-decoration: none;
  font-family: "Nexa Light";
  text-align: center;
}
html {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  display: block;
  background: #19AAD9;
}

.meta-bold{
  font-family: "Meta Bold";
}
.meta-normal{
  font-family: "Meta Normal";
}
section{
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: block;
}
h3{
  font-family: "Meta Normal";
  font-weight: normal;
  font-size: 50px;
}
.start{
  font-size:  80px;
}
.continue{
  font-size: 30px;
}
.name-input{
  width: 235px;
  font-size: 40px;
  color: #000; 
  font-family: "Meta Normal";
}
#single-player, #two-player, #two-player-two{
	background: #104D61;
}
#btn-pause{
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('../imgs/pause.png');
  height: 38px;
  width: 38px;
  border: 0;
}
#index h1{
  font-size: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-weight: bold;
}
#design{
  color: #195F7A;
  font-size: 80px;
  font-family: "Arial";
}
#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu ul li a{
  display: block;
  font-size: 20px;
  padding: 10px 0;
}
#menu ul li a:hover{
  background: #1983A6;
}
#two-player-two h3{
	font-size: 35px;
}
#how-to-play{
  overflow-y: scroll;
  background: #4C6770;
}
#instructions{
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}
#board {
  background-color: #19AAD9;
  color:#FFF;
  border: 1px solid white;
  border-collapse:collapse;
  border-spacing:0;
  margin: 0 auto;
  position: absolute;
}
#board td{
  border: 2px solid #FFF;
  text-align: center;
  font-family: "Meta Bold";
}
.name{
  position: absolute;
  font-size: 30px;
}
#player1-name{
  top: 0;
}
#player2-name{
  bottom: 0;
}
.yellow-chip{
  color: #FCCA0A;
  font-weight: bold;
}
.green-chip{
  color: #2AAF4B;
  font-weight: bold;
}
#pause-menu h3{
  font-size: 30px;
}


/* ANIMATIONS */
@keyframes rightToCurrent {
  0%  { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@-webkit-keyframes rightToCurrent {
  0%  { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(0); }
}

@keyframes currentToLeft {
  0%  { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@-webkit-keyframes currentToLeft {
  0%  { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes currentToRight {
  0%  { transform: translateX(0); }
  100% { transform: translateX(100%); }
}
@-webkit-keyframes currentToRight {
  0%  { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(100%); }
}

@keyframes leftToCurrent {
  0%  { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@-webkit-keyframes leftToCurrent {
  0%  { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0); }
}

@keyframes headerCurrentToLeft {
  0%  { transform: translateX(0); }
  100% { transform: translateX(-20%); }
}

[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100; /* -> drawer */
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}
